.wallet {
  margin: 0;
  padding: 0;
  height: 800px;
  position: relative;
  top: 40px;
  width: 60%;
  left: 20%;
  /*background: rgba(255, 255, 255, 1);*/
  /*border: 1px solid rgba(220, 220, 220, 1);*/
}

.wallet_title {
  padding: 20px 30px;
  width: 100%;
  height: 223px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(220, 220, 220, 1);
}

.wallet_recording {
  margin-top: 24px;
  padding: 20px 30px;
  width: 100%;
  height: 550px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(220, 220, 220, 1);
}

.wallet_title_text {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.wallet_title_block {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.block {
  width: 22%;
  height: 116px;
  text-align: center;
  color: #ffffff;
}

.color_1 {
  background: linear-gradient(180deg, rgba(193, 180, 247, 1) 0%, rgba(142, 124, 235, 1) 100%);
}

.color_2 {
  background: linear-gradient(180deg, rgba(252, 223, 100, 1) 0%, rgba(247, 188, 53, 1) 100%);
}

.color_3 {
  background: linear-gradient(180deg, rgba(248, 158, 184, 1) 0%, rgba(238, 101, 130, 1) 100%);
}

.color_4 {
  background: linear-gradient(180deg, rgba(126, 202, 203, 0.72) 0%, rgba(142, 207, 214, 1) 100%);
}

.block_title {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 58px;
}

.block_con {
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  line-height: 10px;

}

.block_con_1 {
  word-break: break-all;
  width: 100%;
  text-align: left;
  padding: 0 20px;
  position: relative;
  top: -18px;
}

.wallet_recording_con {
  height: 450px;
  overflow: auto;
  margin-top: 23px;
}

.color_gray {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);;
}

.wallet_recording_con::-webkit-scrollbar { /*滚动条整体样式*/
  width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.wallet_recording_con::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

.wallet_recording_con::-webkit-scrollbar-track { /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}

.text_al {
  text-align: center;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.Mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000026;
  filter: Alpha(Opacity=60);
  opacity: 0.6;
  z-index: 1;

}

.transactiondetails {
  height: 570px;
  width: 50%;
  left: 25%;
  top: 20%;
  z-index: 2;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  position: fixed;
}

.transactiondetails_1 {
  padding: 20px 40px;

}

.transactiondetails_con_1_title {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  border-bottom: 1px solid rgba(220, 220, 220, 1);
  padding-bottom: 15px;
}

.transactiondetails_con_1_title_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: 8px;
  background: url("../../assets/images/transaction.png") no-repeat;
}

.icon_1 {
  position: relative;
  top: 10px;
  background: url("../../assets/images/contract.png") no-repeat;
}

.transactiondetails_con_1_other {
  width: 100%;
  margin-top: 20px;
}

.transactiondetails_con_1_other_title {
  display: inline-block;
  width: 10%;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}

.transactiondetails_con_1_other_text {
  display: inline-block;
  width: 90%;
  font-size: 15px;
}

.color_success {
  color: #2699EB;
  font-size: 15px;
}

.close_this {
  float: right;
  font-size: 28px;
  position: relative;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.send {
  width: 520px;
  height: 284px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -260px;
  margin-top: -182px;
  z-index: 2;
}

.receive {
  width: 520px;
  height: 200px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -260px;
  margin-top: -182px;
  z-index: 2;
}

.close_send {
  float: right;
}

.send_title {
  padding: 11px 25px;
  height: 15%;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.receive_title {
  padding: 11px 25px;
  height: 21%;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}
.receive_con{
  height: 79%;
  text-align: center;
}

.close_send {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  position: relative;
  top: -8px;
  cursor: pointer;
}

.close_receive {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  position: relative;
  top: -8px;
  cursor: pointer;
  float: right;
}

.send_con {
  height: 70%;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.send_footer {
  float: right;
  margin-right: 20px;
}

.cancle {
  width: 65px;
  height: 28px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 1);
  outline: none;
  position: relative;
  top: 8px;
  cursor: pointer;
}

.sure {
  width: 65px;
  height: 28px;
  background: rgba(38, 153, 235, 1);
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  border: none;
  position: relative;
  top: 8px;
  cursor: pointer;
}

.send_con_title {
  display: inline-block;
  width: 15%;
  color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
}

.send_con_title_input {
  width: 50%;
  margin-left: 5%;
}

.send_con_top {
  margin-top: 13px;
}
.receive_con_show_input{
  width:70%;
  font-size: 12px;
  background:rgba(248,248,248,1);
  border-radius:4px;
  border:1px solid rgba(217,217,217,1);
  margin-top: 20px;
}
.receive_con_say{
  margin-top: 30px;
  font-size: 15px;
}
.copy{
  width: 28px;
  height: 28px;
  background: url("../../assets/images/copy.png")no-repeat;
  display: inline-block;
  position: relative;
  z-index: 2;
  right: 30px;
  top: 10px;
  cursor: pointer;
  padding: 5px;
}
