.layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  /*min-width: 1550px;*/
}

.home_title {
  width: 100%;
  height: 60px;
  background-color: #2A2C2F;
}

.home_title_1 {
  color: rgba(254, 254, 254, 1);
  font-size: 18px;
  height: 100%;
  line-height: 60px;
  font-family: PingFangSC-Regular;
  display: inline-block;
  position: relative;
  left: 20%;
}

.home_title_2 {
  display: inline-block;
  float: right;
  color: rgba(254, 254, 254, 1);
  font-size: 18px;
  height: 100%;
  line-height: 60px;
  font-family: PingFangSC-Regular;
  position: relative;
  right: 20.2%;
}

.dropout {
  cursor: pointer;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  color: #ffffff;
  width: 174px;
  height: 24px;
  background: rgba(196, 50, 40, 1);
  border-radius: 1px;
  outline: none;
  border: none;
}

.home_title_2_number {
  color: #4A90E2;
  margin-left: 10px;
}

.home_title_1-icon1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../../assets/images/bt.png") no-repeat;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.home_title_1-icon2 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../../assets/images/recording.png") no-repeat;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.home_title_1-icon3 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../../assets/images/send.png") no-repeat;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.home_title_1-icon4 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../../assets/images/get.png") no-repeat;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.length_more {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
